[access]
	inheritFrom = All-Projects
[project]
	description = test repository
[access "refs/*"]
	owner = group user/shri-kant
[access "refs/for/refs/*"]
	read = group user/shri-kant
	push = group user/shri-kant
	label-Code-Review = -2..+2 group user/shri-kant
	label-Verified = -1..+1 group user/shri-kant
	rebase = group user/shri-kant
	removeReviewer = group user/shri-kant
	submit = group user/shri-kant
[access "refs/heads/*"]
	read = group user/shri-kant
	create = group user/shri-kant
	push = +force group user/shri-kant
	pushMerge = group user/shri-kant
[access "refs/tags/*"]
	push = group user/shri-kant
	push = +force group user/shri-kant
